node_modules/
lib/

.DS_Store
.AppleDouble
.LSOverride

npm-debug.log*
*.tsbuildinfo
.npm
.node_repl_history

.vscode-test
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode/*.code-snippets
*.code-workspace